<div class="header">
  <navigation></navigation>
</div>
<div class="container">
  <div class="col-sm-12 col-lg-12">
    <h2 class="h2 ">Projekty</h2>
    <br>

    <div class="row">
      <form ng-submit="saveProject()">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Názov projektu:</span>
          <input ng-change="skontroluj()" type="text" ng-model="name" class="form-control" placeholder="Názov" aria-describedby="basic-addon1" required>
        </div>
        <br>
        <button ng-show="existutje === false" class="btn btn-success" type="submit">Uložiť</button>
        <div ng-show="existutje === true" class="alert alert-danger" >Názov projektu už existuje, zvoľte prosím iný</div>
      </form>
    </div>
    <br>

    <div class="row">

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Filtrovať tabuľku..." ng-model="searchBar">
          </div>
        </div>
      </form>

      <table class="table">
        <thead>
        <tr>
          <th class="col-sm-2">
            <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">Dátum
              <span ng-show="sortType == 'date' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="sortType == 'date' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </th>
          <th class="col-sm-4">
            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Názov projektu
              <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>
          <th class="col-sm-2">
            <a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse">Používateľ
              <span ng-show="sortType == 'username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>
          <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="project in projects | orderBy:sortType:sortReverse | filter:searchBar | itemsPerPage:viewby">
          <td class="col-sm-2">{{project.date | date:'yyyy-MM-dd HH:mm'}}</td>
          <td class="col-sm-4">{{project.name}}</td>
          <td class="col-sm-2">{{project.username}}</td>
          <td>
            <button id="{{project._id}}1" class="btn glyphicon glyphicon-trash btn-danger" ng-click="potvrdit(1, project._id)"></button>
            <div class="hidden" id="{{project._id}}2">
              <button class="btn btn-info" ng-click="potvrdit(2, project._id)">Ponechať</button>
              <button class="btn btn-danger" ng-click="vymazat(project._id)">Vymazať</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <dir-pagination-controls  max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ></dir-pagination-controls>

      <br>

      <select ng-model="viewby" ng-init="viewby='5'">
        <option>3</option>
        <option ng-selected="true">5</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
      </select> záznamov na stránku.
    </div>
    <br>
  </div>
</div>
