<div class="container">
  <div class="col-sm-12 col-lg-12">
    <div class="row">

      <div class="col-md-6">

        <h1 class="form-signin-heading">Login</h1>

        <form ng-submit="vm.onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.credentials.email">
          </div>
          <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" id="password" placeholder="Heslo" ng-model="vm.credentials.password">
          </div>
          <div ng-show="vm.fail === true" class="alert alert-danger" >{{vm.messg}}</div>
          <button type="submit" class="btn btn-default">Log in</button>
        </form>
        <br>

      </div>
    </div>
  </div>
</div>
