<div class="navbar navbar-default"  role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Vizualizácia Genetických Analýz</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a ng-href="/about">About</a></li>
        <li ng-show="navvm.currentUser.role === 'admin'"><a href="/register">Používatelia</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{navvm.currentUser.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="btn" href="/profile">Profil <span class="glyphicon glyphicon-user "></span></a>  </li>
            <li><a class="btn" ng-click="navvm.logout()">Logout <span class="glyphicon glyphicon-log-out "></span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
