<div class="header">
  <navigation></navigation>
</div>
<div class="container">
  <div class="col-sm-12 col-lg-12">
    <div class="row">

      <div class="col-md-6">

        <h1 class="form-signin-heading">Profil</h1>

        <form  class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Používateľské meno</label>
            <p class="form-control-static">{{ vm.user.name }}</p>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <p class="form-control-static">{{ vm.user.email }}</p>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
