<div class="header">
  <navigation></navigation>
</div>
<div class="container">
  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div class="col-md-6">
        <h1>Používatelia</h1>
        <form ng-submit="vm.onSubmit()">
          <div class="form-group">
            <label for="name">Používateľské meno</label>
            <input type="text" ng-change="vm.checkNames('name')" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-change="vm.checkNames('email')" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email" required>
          </div>
          <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password" required>
          </div>
          <div class="form-group">
            <label for="passwordChk">Heslo</label>
            <input type="password" ng-change="vm.equalPass()" class="form-control" id="passwordChk" placeholder="Password repeat" ng-model="vm.passwordChk" required>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="role" ng-model="vm.credentials.role" ng-true-value="'admin'" ng-false-value="'user'" >Admin
            </label>
          </div>
          <div ng-show="vm.showError === true" class="alert alert-danger" >{{vm.messg}}</div>
          <button ng-show="vm.showError === false" type="submit" class="btn btn-success">Pridať</button>
        </form>
        <br>

      </div>
    </div>

    <div class="row">

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Filtrovať tabuľku..." ng-model="vm.searchBar">
          </div>
        </div>
      </form>

      <table class="table">
        <thead>
        <tr>
          <th class="col-sm-2">
            <a href="" ng-click="vm.sortType = 'email'; vm.sortReverse = !vm.sortReverse">Email
              <span ng-show="vm.sortType == 'email' && !vm.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="vm.sortType == 'email' && vm.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </th>
          <th class="col-sm-4">
            <a href="" ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">Používateľské meno
              <span ng-show="vm.sortType == 'name' && !vm.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="vm.sortType == 'name' && vm.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>
          <th class="col-sm-2">
            <a href="" ng-click="vm.sortType = 'role'; vm.sortReverse = !vm.sortReverse">Rola
              <span ng-show="vm.sortType == 'role' && !vm.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="vm.sortType == 'role' && vm.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>
          <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="user in vm.users | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchBar | itemsPerPage:vm.viewby">
          <td class="col-sm-2">{{user.email}}</td>
          <td class="col-sm-4">{{user.name}}</td>
          <td class="col-sm-2">{{user.role}}</td>
          <td>
            <button id="{{user._id}}1" class="btn glyphicon glyphicon-trash btn-danger" ng-click="vm.potvrdit(1, user._id)"></button>
            <div class="hidden" id="{{user._id}}2">
              <button class="btn btn-info" ng-click="vm.potvrdit(2, user._id)">Ponechať</button>
              <button class="btn btn-danger" ng-click="vm.vymazat(user._id)">Vymazať</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <dir-pagination-controls  max-size="vm.maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ></dir-pagination-controls>

      <br>

      <select ng-model="vm.viewby" ng-init="vm.viewby='5'">
        <option>3</option>
        <option ng-selected="true">5</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
      </select> záznamov na stránku.
    </div>
    <br>
  </div>
</div>
